<header class="hero-header">
  <div class="hero-header__content">
    <h1 class="hero-header__title">Bienvenido al Taller ^_^</h1>
    <p class="hero-header__subtitle">
      En nuestro taller nos especializamos en ofrecer un servicio mecánico de calidad, con atención personalizada y
      soluciones
      rápidas para que tu vehículo esté siempre en las mejores condiciones. Ya sea mantenimiento, reparación o
      diagnóstico,
      estamos aquí para ayudarte con profesionalismo y compromiso.
    </p>
    <button mat-flat-button [routerLink]="'/login'">Login</button>
  </div>
</header>
<div class="features">
  <div class="features__item">
    <img class="features__image" src="/best-prices.png" alt="Mechanic 1" />
    <div class="features__content">
      <h4 class="features__title">Mejores precios</h4>
      <p class="features__description">
        Arreglamos tu coche sin que tu bolsillo lo sufra. Calidad garantizada a precios que se ajustan a ti.
      </p>
    </div>
  </div>
  <div class="features__item">
    <img class="features__image" src="/guarantee.png" alt="Mechanic 1" />
    <div class="features__content">
      <h4 class="features__title">100% garantizado</h4>
      <p class="features__description">
        Todos nuestros trabajos están respaldados por garantía, porque confiamos en lo que hacemos y queremos que tú
        también lo
        hagas.
      </p>
    </div>
  </div>
  <div class="features__item">
    <img class="features__image" src="/certified.png" alt="Mechanic 1" />
    <div class="features__content">
      <h4 class="features__title">Mecánicos Certificados</h4>
      <p class="features__description">
        Nuestro equipo está formado por profesionales certificados que garantizan un servicio seguro, preciso y de la
        más alta
        calidad.
      </p>
    </div>
  </div>
</div>

<main class="main">
  <section class="who-we-are" id="who-we-are">
    <img class="who-we-are__image who-we-are__image--top" src="/who-we-are1.png" alt="" />
    <div class="who-we-are__content">
      <div class="landing__section-header">
        <img class="landing__section-header__separator" src="/separator-carsblue.svg" alt="" />
        <span class="landing__section-header__title">¿Quienes somos?</span>
      </div>
      <h4 class="landing__subtitle">
        Reparaciones y mantenimiento de automóviles Certificado
      </h4>
      <p class="who-we-are__description">
        En nuestro taller no solo reparamos coches, también construimos confianza. Con un equipo profesional y
        apasionado por la
        mecánica, ofrecemos soluciones claras, rápidas y con garantía. Tu coche está en buenas manos.
      </p>
      <img class="who-we-are__image who-we-are__image--bottom" src="/who-we-are2.png" alt="" />
    </div>
  </section>

  <section id="services">
    <div class="landing__section-header">
      <img class="landing__section-header__separator" src="/separator-carsblue.svg" alt="" />
      <span class="landing__section-header__title">¿Qué ofrecemos? </span>
    </div>
    <h4 class="landing__subtitle">Explora nuestros servicios</h4>
    <div class="services__items">
      <div class="services__item">
        <img class="services__image" src="/thumb-3.jpg" alt="" />
        <h3 class="services__title">Servicios de gasolina</h3>
      </div>
      <div class="services__item">
        <img class="services__image" src="/thumb-4.jpg" alt="" />
        <h3 class="services__title">Servicio de ruedas</h3>
      </div>
      <div class="services__item">
        <img class="services__image" src="/thumb-5.jpg" alt="" />
        <h3 class="services__title">Servicios de revisión</h3>
      </div>
    </div>
  </section>
  <section class="work" id="work">
    <img class="work__image" src="/work.png" alt="" />
  </section>

  <section id="feedback">
    <div class="landing__section-header">
      <img class="landing__section-header__separator" src="/separator-carsblue.svg" alt="" />
      <span class="landing__section-header__title">Opiniones</span>
    </div>
    <h4 class="landing__subtitle">¿Qué dicen nuestros clientes?</h4>
    <div class="feedback__items">
      <div class="feedback__item">
        <img class="feedback__quote-icon" src="/quote.svg" alt="" />
        <p class="feedback__text">
          Me sorprendió la atención al cliente y la calidad del trabajo. Me explicaron todo con claridad y cumplieron
          los tiempos.
          Sin duda volveré.
        </p>
        <div class="feedback__author">
          <img class="feedback__author-image" src="/face-1.png" alt="" />
          <div>
            <h5 class="feedback__author-name">Jose Carlos</h5>
            <p class="feedback__author-role">Madrid</p>
          </div>
        </div>
      </div>
      <div class="feedback__item">
        <img class="feedback__quote-icon" src="/quote.svg" alt="" />
        <p class="feedback__text">
          Es difícil encontrar un taller en el que confíes de verdad. Aquí me sentí seguro desde el primer momento.
          Profesionales
          os juro por dios muchachos.
        </p>
        <div class="feedback__author">
          <img class="feedback__author-image" src="/face-2.png" alt="" />
          <div>
            <h5 class="feedback__author-name">Begoña Gonzalez</h5>
            <p class="feedback__author-role">Sevilla</p>
          </div>
        </div>
      </div>
      <div class="feedback__item">
        <img class="feedback__quote-icon" src="/quote.svg" alt="" />
        <p class="feedback__text">
          Me atendieron con mucha amabilidad y explicaron todo el proceso de la reparación. Mi coche quedó como nuevo,
          ¡muy contento con el servicio!
        </p>
        <div class="feedback__author">
          <img class="feedback__author-image" src="/face-3.png" alt="" />
          <div>
            <h5 class="feedback__author-name">Mauricio Perez</h5>
            <p class="feedback__author-role">Barcelona</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="faq">
    <div class="landing__section-header">
      <img class="landing__section-header__separator" src="/separator-carsblue.svg" alt="" />
      <span class="landing__section-header__title">FAQS</span>
    </div>
    <h4 class="landing__subtitle">Preguntas frecuentes</h4>
    <div class="faq__items">
      <div class="faq__item">
        <h5 class="faq__question">
          ¿Cuánto tiempo tarda una reparación típica?
        </h5>
      </div>
      <div class="faq__item">
        <h5 class="faq__question">¿Ofrecen garantía en sus servicios?</h5>
      </div>
      <div class="faq__item">
        <h5 class="faq__question">¿Necesito una cita previa?</h5>
      </div>
      <div class="faq__item">
        <h5 class="faq__question">¿Qué métodos de pago aceptan?</h5>
      </div>
      <div class="faq__item">
        <h5 class="faq__question">
          ¿Cuánto tiempo tarda una reparación típica?
        </h5>
      </div>
      <div class="faq__item">
        <h5 class="faq__question">¿Ofrecen garantía en sus servicios?</h5>
      </div>
    </div>
  </section>
</main>

<footer class="footer">
  <p>&copy; 2025 Tu Taller. Todos los derechos reservados. | Conectando pasión y tecnología en cada reparación.</p>
</footer>