@use "@angular/material" as mat;

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: mat.$violet-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

.accent {
  @include mat.theme(
    (
      color: mat.$magenta-palette,
    )
  );
}

.warn {
  @include mat.theme(
    (
      color: mat.$red-palette,
    )
  );
}

:root {
  @include mat.badge-overrides(
    (
      background-color: var(--mat-sys-primary),
      text-color: var(--mat-sys-on-error),
    )
  );
}

:root {
  @include mat.button-overrides(
    (
      filled-container-shape: 4px,
    )
  );
}

:root {
  .mat-stroked-button {
    border-radius: 4px;
  }
}

:root {
  @include mat.list-overrides(
    (
      list-item-container-shape: 4px,
      active-indicator-shape: 4px,
      list-item-leading-avatar-shape: 4px,
    )
  );
}

body {
  color-scheme: light;
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
}

/* Custom transition */
@keyframes rotate-out {
  to {
    transform: rotate(90deg);
  }
}
@keyframes rotate-in {
  from {
    transform: rotate(-90deg);
  }
}
::view-transition-old(count),
::view-transition-new(count) {
  animation-duration: 200ms;
  animation-name: -ua-view-transition-fade-in, rotate-in;
}
::view-transition-old(count) {
  animation-name: -ua-view-transition-fade-out, rotate-out;
}
